:root {
  --primary-400: #f7f7f7;
  --primary-300: #e7e7e7;
  --primary-200: #737373;
  --primary-100: #0d0d0d;
  --primary-50: #080808;

  --secondary-300: #640000;
  --secondary-200: #460000;
  --secondary-100: #924c4c;
  --secondary-50: #d9a0a0;

  --accent: #080808;

  --gradient-bg: #640000;
  --gradient: linear-gradient(
    25deg,
    #640000,
    #924c4c
  );
}

